@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    /* cursor: default; */
    padding: 0;
    margin: 0;
}

.Header {
    background-color: #003b95;
    color: white;
    display: flex;
    /* justify-content: center; */
    position: relative;
}

.HeaderContainer {
    width: 100%;
    max-width: 1024px;
}

.HeaderList {
    margin-left: 160px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: space-evenly;
}

.Attraction {
    cursor: pointer;
    display: flex;
}

.HeaderItems.active {
    border: 1px solid white;
    border-radius: 2rem;
    padding: 10px;
}

.HeaderItems {
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
}

.HeaderItems > * {
    cursor: pointer;
}

.HeaderText {
    margin-top: 70px;
    background-color: #003b95;
    color: white;
    display: flex;
}

.TextContainer {
    cursor: pointer;
    width: 100%;
    max-width: 1024px;
}

.Title {
    margin-left: 180px;
    font-size: 3rem;
    font-weight: bolder;
}

.Heading {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 10px 0px 70px 180px;
}

.HeaderSearch {
    border-radius: 10px;
    width: 100%;
    max-width: 1024px;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    background-color: white;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    margin-left: 190px;
}

.HeaderSearchItem {
    display: flex;
    text-wrap: nowrap;
    align-items: center;
    gap: 10px;
    border: 3px solid #ffb700;
    height: 50px;
    width: 100%;
    padding: 10px 10px 10px 20px;
}
.AngleDown{
    margin-left: 40px;
}

.HeaderSearchIcon {
    filter: invert(0.7);
    cursor: pointer;
}
.HeaderSearchText{
    color: black;
    cursor: pointer;
}
.HeaderSearchInput{
    outline: none;
    border: none;
    width: 100%;
    color: black;
    font-size: 1rem;
}
.HeaderSearchInput::placeholder{
    color: black;
    font-size: 1rem;
}
.SearchBtn{
    width: 20%;
    border: 3px solid #ffb700;
    height: 50px;
    display: flex;
    background-color: #ffb700;
}
.HeaderSearchBtn{
    width: 100%;
    height: auto;
    background-color:#006ce4;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.date{
    position: absolute;
    top: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 8px 1px;
}

.Quantity{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 59%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 8px 1px;
    width: 360px;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
}
.QuantityText{
    color: black;
}
.QuantityInc,.QuantityDec{
    color: blue;
    font-size: 1.5rem;
    cursor: pointer;
}
.QuantityList{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.QuantityBtn > button{
    border: none;
    background: none;
}
.QuantityBtn{
    border-radius: 10px;
    align-items: center;
    border:2px solid grey;
    gap:40px;
    padding: 5px 10px;
    display: flex;
}
.QuantityDec:disabled{
    cursor:not-allowed;
}
.DoneBtn{
    color: #006ce4;
    border: 1px solid #006ce4;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: 500;
}
.Quantity hr{
    margin:  10px 0px 5px 0px;
}
.DoneBtn:hover{
    background-color: rgba(101, 140, 231, 0.087);
    cursor: pointer;
}
.HeaderSearchBtn:hover{
    cursor: pointer;
}