.pList{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 8px;
    max-width: 1114px;
  }
  
  .pListItem{
    flex:1;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
  }
  
  .pListImg{
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .pListTitles>h1{
    font-size: 18px;
    color: black;
    text-transform: capitalize;
  }
  
  .pListTitles>h2{
    margin-top:10px ;
    color: black;
    font-size: 14px;
    font-weight: 400;
  }