@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    /* box-sizing: border-box; */
}
.DHotel{
    position: relative;
    display: flex;
}
.Deals{
    margin: 0px 0px;
    width: 100%;
    max-width: 1134px;
}
.DealsTitle{
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 8px;
}
.DealsHeading{
    color: rgba(78, 76, 76, 0.885);
    font-weight: 400;
    margin-bottom: 10px;
}
.DHotelName{
    color: black;
    font-weight: 500;
    margin: 6px 0px;
}
.DHotelLocation{
    font-size: 0.75rem;
    color: rgba(78, 76, 76, 0.885);
}
.DHotelContainer{
    display: flex;  
    margin-bottom: 20px;
}
.DealImg > *{
    width: 100%;
}
.DealsItem{
    margin: 0 10px; 
    box-shadow: 0 2px 8px 0 rgba(26, 26, 26, 0.16);
    border-radius: 10px;
    overflow: hidden;
}
.DealsContainer::-webkit-scrollbar{
    color: transparent;
}
.DHotelBtn2 > *{
    filter: invert(1);
    color: black;
    width: 7px;
}
.DHotelBtn1 > *{
    filter: invert(1);
    color: black;
    width: 7px;
}
.DHotelBtn2{
    right: -10px;
    top: 25%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 8px 1px;
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: white;
}
.DHotelBtn1{
    z-index: 2;
    left: -10px;
    top: 25%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 8px 1px;
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: white;
}
.DHotelBtn1,.DHotelBtn2:hover{
    cursor: pointer;
}
.DHotelText{
    height: 170px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.DHotelRemarks{
    display: flex;
    align-items: center;
    margin:5px 0px ;
}
.DHotelRating{
    padding: 2px;
    background-color: #003b95;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    border-radius: 4px 4px 4px 0px;
    margin-right: 8px;
}
.DHotelRemark{
    font-size: 0.8rem;
    font-weight: 400;
    color: black;
    margin-right: 4px;
}
.DHotelReviews{
    font-size: 0.8rem;
    color: rgba(78, 76, 76, 0.885);
}
.DHotelPrice{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 6px;
    bottom: 10px;
    right: 10px;
}
.StayDuration{
    font-size: 0.7rem;
    color: rgba(78, 76, 76, 0.885);
}
.InitialPrice{
    text-decoration: line-through;
    color: #d4111e;
    font-weight: 300;
}
.FinalPrice{
    font-size: 1.07rem;
    color: black;
    font-weight: bold;
}
